<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Capital</th>
            <th>Población</th>
            <th>#</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let capital of capitales; let i = index">
            <td>{{ i + 1 }}</td>
            
            <td>{{ capital.name.common }}</td>
            <td>{{ capital.capital }}</td>
            <td>{{ capital.languages }}</td>
            
        </tr>
    </tbody>
</table>